<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-50 text-gray-900">
  <head>
    <meta charset="utf-8" />
    <title>Template</title>
    <base href="/" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/src/styles.templates.css" />
  </head>
  <body class="h-full">
    <div id="root" class="h-full"></div>
    <script type="module" src="/src/main.templates.tsx"></script>
  </body>
</html>
